<div class="balance-card">
  <app-card-header
    [text]="Titulo"
    [subText]="Subtitulo"
    [srcIcon]="SrcIcon"
  ></app-card-header>

  <div class="balance-card__content">
    <div *ngFor="let item of ItensSaldoList">
      <app-card-item
        [Text]="item.key"
        [SecondaryText]="item.value"
      ></app-card-item>
      <app-divider></app-divider>
    </div>
  </div>
  <div class="balance-card__total">
    <div *ngFor="let item of ItensTotalList">
      <app-card-item
        [Text]="item.key"
        [SecondaryText]="item.value"
      ></app-card-item>
    </div>
  </div>
</div>
