<div class="balance-card">
  <app-card-header
    [text]="Titulo"
    [subText]="Subtitulo"
    [srcIcon]="SrcIcon"
  ></app-card-header>

  <div class="balance-card__content">
    <div class="balance-card__content-item">
      <h4>Conta Corrente</h4>
      <span>R$ 200,00</span>
    </div>
    <app-divider></app-divider>

    <div class="balance-card__content-item">
      <h4>Conta Corrente Saldo Vinculados</h4>
      <span>R$ 300,00</span>
    </div>
    <app-divider></app-divider>

    <div class="balance-card__content-item">
      <h4>Conta Poupança Saldo Vinculados</h4>
      <span>R$ 400,00</span>
    </div>
    <app-divider></app-divider>

    <div class="balance-card__content-item">
      <h4>Investimentos com Baixa Automática</h4>
      <span>R$ 500,00</span>
    </div>
    <app-divider></app-divider>

    <div class="balance-card__content-item">
      <h4>Investimentos sem Baixa Automática</h4>
      <span>R$ 200,00</span>
    </div>
    <app-divider></app-divider>
  </div>
  <div class="balance-card__total">
    <div class="balance-card__total-item">
      <h4>SALDO TOTAL</h4>
      <span>R$ 1000,00</span>
    </div>
    <div class="balance-card__total-item">
      <h4>LIVRE PARA MOVIMENTAÇÃO</h4>
      <span>R$ 1000,00</span>
    </div>
  </div>
</div>
