<div class="credit-card">
  <app-card-header [text]="Titulo" [srcIcon]="SrcIcon"></app-card-header>

  <div class="credit-card__content">
    <div class="credit-card__content-client">
      <div>
        <p>192849582938459</p>
        <p>Wesley Adiel Alves de Lima</p>
      </div>
      <div>MASTER CARD</div>
    </div>
    <div class="credit-card__content-item">
      <h4>Limite de Compra</h4>
      <span>R$ 1.000,00</span>
    </div>

    <app-divider></app-divider>

    <div class="credit-card__content-item">
      <h4>Disponível</h4>
      <span>R$ 1.200,00</span>
    </div>

    <div class="credit-card__content-item">
      <h4>Limite de Saque</h4>
      <span>R$ 2.000,00</span>
    </div>

    <app-divider></app-divider>

    <div class="credit-card__content-item">
      <h4>Disponível</h4>
      <span>R$ 1.300,00</span>
    </div>

    <div class="credit-card__content-item">
      <h4>Limite Total Utilizado</h4>
      <span>R$ 3.000,00</span>
    </div>
  </div>
</div>
