<div class="credit-card">
  <app-card-header [text]="Titulo" [srcIcon]="SrcIcon"></app-card-header>

  <div class="credit-card__content">
    <div class="credit-card__content-client">
      <div>
        <p>192849582938459</p>
        <p>Wesley Adiel Alves de Lima</p>
      </div>
      <div>MASTER CARD</div>
    </div>
    <app-card-item
      Text="Limite de Compra"
      SecondaryText="R$ 1.000,00"
    ></app-card-item>
    <app-divider></app-divider>
    <app-card-item
      Text="Disponível"
      SecondaryText="R$ 1.200,00"
    ></app-card-item>
    <app-card-item
      Text="Limite de Saque"
      SecondaryText="R$ 2.000,00"
    ></app-card-item>
    <app-divider></app-divider>
    <app-card-item
      Text="Disponível"
      SecondaryText="R$ 1.300,00"
    ></app-card-item>
    <app-card-item
      Text="Limite Total Utilizado"
      SecondaryText="R$ 3.000,00"
    ></app-card-item>
  </div>
</div>
